Source: cpia-control
Section: graphics
Priority: extra
Maintainer: Peter Pregler <Peter_Pregler@email.com>
Standards-Version: 3.0.1

Package: cpia-control
Architecture: any
Depends: ${shlibs:Depends} python-gtk(>=0.6.2) || python-gtk-1.2, python
Description: Control all settings of a CPiA based webcam via a nice GUI.
 This simple python-gtk application allows one to control a CPiA based
 webcam by means of a nice GUI. The settings are done by changing the
 proc-interface of the CPiA based webcam. Apart from such a webcam you
 need a special kernel-module to use this program. See the web-page
 http://webcam.sourceforge.net for more information. The driver
 is in the official kernel since version 2.2.15-pre15 and
 2.3.99-pre4.
 .
 NOTE: the USB cpia-driver in the development kernels 2.3.13 up to
 2.3.99-pre4 has no proc-interface. You need the driver from the web-page
 given above or an official kernel with a high enough version.
